:root {
  --vs-warn: 255, 186, 0 !important;
  --vs-danger: 255, 71, 87 !important;
  --vs-success: 70, 201, 58 !important;
  --vs-dark: 18, 18, 18 !important;
  --vs-gradient-dark: 18, 18, 18 !important;
  --vs-light: 255, 255, 255 !important;
  --vs-color: 17, 18, 20 !important;
  --vs-background: 255, 255, 255 !important;
  --vs-text: 44, 62, 80 !important;
  --vs-gray-1: 235, 235, 235 !important;
  --vs-gray-2: 244, 247, 248 !important;
  --vs-gray-3: 240, 243, 244 !important;
  --vs-gray-4: 247, 247, 247 !important;
}

[vs-theme="dark"] {
  /* vs ............................ */
  --vs-background: 30, 32, 35 !important;
  --vs-text: 255, 255, 255 !important;
  --vs-gray-1: 30, 30, 30 !important;
  --vs-gray-2: 20, 20, 23 !important;
  --vs-gray-3: 15, 16, 19 !important;
  --vs-gray-4: 10, 11, 14 !important;
  --vs-light: 30, 30, 30 !important;
  --vs-shadow-opacity: 0.3 !important;
  --vs-dark: 240, 240, 240 !important;
  --vs-background-opacity: 0.6 !important;
}
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap");

@font-face {
  font-family: Nunito;
  src: url("./Nunito-Regular.ttf");
}

/* body {
  font-family: "Padauk", sans-serif;
} */
.bx-fade-up {
  -webkit-animation: fade-up 1.5s infinite linear;
  animation: fade-up 1.5s infinite linear;
}
@-webkit-keyframes fade-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);

    opacity: 0;
  }
}
@keyframes fade-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);

    opacity: 0;
  }
}

.vh-100 {
  height: calc(var(--vh, 1vh) * 100) !important;
}
.max-vh-100 {
  max-height: calc(var(--vh, 1vh) * 100) !important;
}

.sec-roll3-section {
  background: rgb(var(--vs-primary));
  height: calc(var(--vh, 1vh) * 100) !important;
  width: 100%;
  margin-top: -35px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
p#subtitles > span {
  background: transparent !important;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 1 !important;
}
#subtitles {
  position: relative;
  top: 10px;
  width: 95vw !important;
}
.roll4-content {
  height: calc(var(--vh, 1vh) * 100) !important;
  z-index: 1;
}

.sm-ball {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background: #fff;
  z-index: 100;
  position: absolute;
}
div#balls {
  width: 400px;
  position: absolute;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roll6-content {
  height: calc(var(--vh, 1vh) * 100) !important;
  z-index: 998;
}
.fade-down {
  -webkit-animation: fade-down 2s infinite linear;
  animation: fade-down 2s infinite linear;
}
.fade-up {
  -webkit-animation: fade-up 2s infinite linear;
  animation: fade-up 2s infinite linear;
}
.ripple-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  animation: sdb03 3s infinite;
  border-radius: 100%;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  40% {
    opacity: 0.2;
    transform: scale(2.1);
  }
  70% {
    opacity: 0.1;
    transform: scale(2.2);
  }
  100% {
    opacity: 0;
    transform: scale(2.3);
  }
}
@keyframes sdb03 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 0.3;
    transform: scale(2.1);
  }
  70% {
    opacity: 0.1;
    transform: scale(2.2);
  }
  100% {
    opacity: 0;
    transform: scale(2.3);
  }
}

@keyframes fade-up {
  0% {
    /* -webkit-transform: translateY(0);
    transform: translateY(0); */

    opacity: 1;
  }
  75% {
    /* -webkit-transform: translateY(-20px);
    transform: translateY(-20px); */

    opacity: 0.3;
  }
}
@-webkit-keyframes fade-down {
  0% {
    /* -webkit-transform: translateY(0);
    transform: translateY(0); */

    opacity: 1;
  }
  75% {
    /* -webkit-transform: translateY(20px);
    transform: translateY(20px); */

    opacity: 0.3;
  }
}
@keyframes fade-down {
  0% {
    /* -webkit-transform: translateY(0);
    transform: translateY(0); */

    opacity: 1;
  }
  75% {
    /* -webkit-transform: translateY(20px);
    transform: translateY(20px); */

    opacity: 0.3;
  }
}

.circle-bg {
  border-radius: 100%;
  position: absolute;
  margin: auto;
  bottom: 30px;
  min-width: 2000px;
  min-height: 2000px;
  animation-duration: 1s !important;
}

div#outter-chart,
div#inner-chart {
  position: absolute;
}
.hooper {
  height: 100% !important;
}
.hooper-list {
  overflow: visible !important;
}
.ball {
  width: 140px;
  height: 140px;
  position: fixed;
  z-index: 997;
  border-radius: 100%;
  top: calc(calc(var(--vh, 1vh) * 50) - 70px);
  right: calc(50vw - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--vs-primary));
  border: 1px solid rgb(var(--vs-primary));
  /* box-shadow: 0px 4px 25px -8px rgb(var(--vs-primary), 0.2); */
}
div#outter-chart,
div#inner-chart {
  position: absolute;
}
.addBorder {
  border-color: #fff !important;
}
.ball i.bx {
  font-size: 35px !important;
  color: #fff;
  /* position: absolute; */
  z-index: 1000;
}
.audio-control {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  color: #fff;
  flex-direction: column;
}
.fix-position {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.addBorder {
  border-color: #fff !important;
}
.ball i.bx {
  font-size: 35px !important;
  color: #fff;
  /* position: absolute; */
  z-index: 1000;
}
.col-12 {
  padding: 0px !important;
}
.route-delay {
  animation-delay: 1000ms;
}
.audio-control {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  color: #fff;
  flex-direction: column;
}
button#floatingBtn .vs-button__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  margin: 15px 0px;
}
.b-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 15px 0px;
}
.white {
  color: #fff !important;
}
.side-divider {
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  height: 20px;
  margin: 0px 10px;
}
.div-divider {
  border-bottom-left-radius: 50% 15%;
  border-bottom-right-radius: 50% 15%;
  width: calc(100% + 60px);
  position: relative;
  left: -30px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.card-divider {
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}
.footer-radius-fb .div-divider {
  height: 100px;
  margin-top: -1px;
  background: #efefef;
}
.overflow-hidden {
  overflow: hidden !important;
}
.side-padding {
  padding: 0px 20px;
}
div#app {
  background: #efefef !important;
  overflow-x: hidden;
}
.primaryHover:hover {
  box-shadow: 0px 4px 25px -8px rgba(var(--vs-primary), 0.2);
}
.primary {
  color: rgb(var(--vs-primary)) !important;
}
.primary-bg {
  background: rgb(var(--vs-primary)) !important;
}
.dark {
  color: rgb(var(--vs-dark)) !important;
}
.dark-bg {
  background: rgb(var(--vs-dark)) !important;
}
.warning {
  color: rgb(var(--vs-warning)) !important;
}
.success {
  color: rgb(var(--vs-success)) !important;
}
.danger {
  color: rgb(var(--vs-danger)) !important;
}
.gray {
  color: rgb(var(--vs-dark), 0.5) !important;
}

.open-icon {
  animation: openicon 0.25s !important;
}
.text-center {
  text-align: center;
}
button.vs-button.vs-button--default,
button.vs-button.vs-button--border {
  height: 50px !important;
  width: 275px !important;
  border-radius: 30px !important;
  font-size: 18px !important;
}
.vs-tooltip {
  position: fixed !important;
}
.vs-input {
  height: 40px !important;
  width: 100% !important;
}
.gray-pg {
  background: #efefef;
}
.vs-tooltip-content {
  display: inline !important;
}
span.mark {
  position: relative;
  top: -5px;
  font-size: 14px !important;
}
.vs-button--default:hover {
  transform: none !important;
}
@media screen and (max-height: 660px) {
  .male {
    position: relative;
    top: -50px !important;
    right: -50px !important;
  }
  svg#female {
    position: relative;
    bottom: -72px;
  }
  .text {
    font-size: 14px !important;
  }
  #audio-wave {
    max-width: 400px !important;
    height: 400px !important;
  }
  .sm-ball {
    width: 65px !important;
    height: 65px !important;
  }
  img.hand-png {
    bottom: -50px !important;
  }
  div#balls {
    width: 335px !important;
    height: 380px !important;
  }
  .ball {
    width: 120px !important;
    height: 120px !important;
    top: calc(calc(var(--vh, 1vh) * 50) - 60px);
    right: calc(50vw - 60px);
  }
  html {
    font-size: 14px;
  }
  .page-padding {
    padding-top: 50px !important;
    padding-bottom: 20px !important;
  }
  .vs-table__td {
    font-size: 14px !important;
  }
  .sm-text,
  .vs-tooltip,
  .input-text {
    font-size: 12px !important;
  }
  .sm-text2 {
    font-size: 12px !important;
  }
  .xs-text {
    font-size: 10px !important;
  }
  .dot-animation {
    min-height: 1000px;
    min-width: 1000px;
  }
  .dialog-content {
    min-width: calc(100vw - 40px) !important;
    max-width: calc(100vw - 40px) !important;
    margin: auto;
  }
  .extraBall {
    width: 120px !important;
    height: 120px !important;
  }
  .footer-radius-balls {
    bottom: 10px !important;
  }
  button.vs-button.vs-button--default,
  button.vs-button.vs-button--border {
    font-size: 14px !important;
  }
}
.extraBall {
  width: 140px;
  height: 140px;
}
/* ------------------------------------------------'mobile'------------------------------------------------ */
@media screen and (min-height: 660px) and (max-width: 600px) {
  .cart-text {
    font-size: 16px !important;
  }
  .cart-sm-text {
    font-size: 12px !important;
  }
  html {
    font-size: 14px;
  }
  img.hand-png {
    bottom: -35px !important;
  }
  .page-padding {
    padding-top: 50px !important;
    padding-bottom: 20px !important;
  }
  .vs-table__td {
    font-size: 14px !important;
  }
  .text {
    font-size: 19px !important;
    font-weight: bold !important;
  }
  .sm-text,
  .vs-tooltip,
  .input-text {
    font-size: 16px !important;
  }
  .sm-text2 {
    font-size: 15px !important;
  }
  .xs-text {
    font-size: 11px !important;
  }
  .dot-animation {
    min-height: 1000px;
    min-width: 1000px;
  }
  .dialog-content {
    min-width: calc(100vw - 40px) !important;
    max-width: calc(100vw - 40px) !important;
    margin: auto;
  }
}
.roll8-content {
  height: calc(var(--vh, 1vh) * 100) !important;
  z-index: 1;
}
.logo-dot {
  width: 42px;
  height: 42px;
  top: 17px;
  right: 34px;
  z-index: 1000;
}
.dot {
  border-radius: 1000px;
  background: rgb(var(--vs-primary));
}
.chart-text {
  width: 100%;
  position: absolute;
  z-index: 10;
  text-align: center;
}
section.inner-hooper.hooper ul.hooper-track {
  flex-direction: row !important;
}
section.inner-hooper .hooper-pagination {
  bottom: -25px !important;
}
.sec-roll1-section {
  padding-top: 50px !important;
  padding-bottom: 30px !important;
  position: relative;
  margin-top: -35px;
}

/* ------------------------------------------------'tablet'------------------------------------------------ */
@media screen and (min-width: 600px) and (max-width: 992px) {
  .cart-text {
    font-size: 16px !important;
  }
  .cart-sm-text {
    font-size: 12px !important;
  }
  .tooltip-content {
    max-width: 400px !important;
    left: calc(50vw - 200px) !important;
  }
  html {
    font-size: 16px;
  }
  .circle-bg {
    min-width: 4000px;
    min-height: 4000px;
  }

  .page-padding {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .xs-text {
    font-size: 12px !important;
  }
  .dialog-content {
    min-width: 38vh !important;
    max-width: 38vh !important;
    margin: auto;
  }
  .text-width {
    max-width: 600px;
  }

  .sm-text2,
  .input-text {
    font-size: 20px !important;
  }
  .text {
    font-size: 24px !important;
    font-weight: bold !important;
  }
  .sm-text,
  .vs-tooltip {
    font-size: 20px !important;
  }
  .dot-animation {
    min-height: 1400px;
    min-width: 1400px;
  }
  .vs-table__td {
    font-size: 16px !important;
  }
}

/* ------------------------------------------------"desktop"------------------------------------------------ */
@media (min-width: 992px) {
  #editPost .con-content {
    width: 600px;
  }
  .cart-text {
    font-size: 16px !important;
  }
  .cart-sm-text {
    font-size: 12px !important;
  }
  .tooltip-content {
    max-width: 700px !important;
    left: calc(50vw - 350px) !important;
  }
  img.audio-3-img {
    bottom: -266px !important;
  }
  html {
    font-size: 18px;
  }
  .title {
    max-width: 800px !important;
  }
  .max-img {
    width: 400px !important;
    right: calc(50% - 200px) !important;
    /* height: 800px; */
  }

  .circle-bg {
    min-width: 8000px;
    min-height: 8000px;
  }
  .page-padding {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .dialog-content {
    min-width: 500px !important;
    max-width: 500px !important;
    margin: auto;
  }
  .sm-text2 {
    font-size: 18px !important;
  }
  .dot-animation {
    min-height: 2500px;
    min-width: 2500px;
  }
  .text {
    font-size: 20px !important;
    font-weight: bold !important;
  }
  .sm-text,
  .vs-tooltip {
    font-size: 20px !important;
  }
  .vs-table__td {
    font-size: 16px !important;
  }
  .xs-text {
    font-size: 10px !important;
  }
}
.rmb-5 {
  margin-bottom: -2.5rem;
}
